footer{
    min-height: 40vh;
    width: 100%;
    padding: 25px 100px;
    background: black;
    color: white;
    @include flex(row, space-evenly, flex-start);
    flex-wrap: wrap;
}

.footer-left{
    flex: 1 1 40rem;
    @include flex(column, space-evenly, flex-start);
    height: 30vh;
    ul{
        @include flex(row, space-evenly, center);
        li{
            padding: 0 0 0 10px;
            a{
                color: white;
            }
            &:nth-child(1){
                padding: 0 0 0 0;
            }
        }

    }
}

.footer-right{
    flex: 1 1 40rem;
    height: 30vh;
    @include flex(column, space-evenly, flex-end);
}